/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Adds nav styles */
nav {
    width: 100%;
    padding: 20px 20px;
    margin-right: 20px;
    float: none;
    display: inline-block;
}


/* Default background color in case image fails to load */
html {
background-color: #05080e;
}


/* Adds body styles */
body {
margin: 0px 0px;
padding: 0;
width: 100%;
min-height: 100vh;
background-image: url("assets/fabio-oyXis2kALVg-unsplash.jpg");
background-attachment: fixed;
background-position: center;
background-size: cover;
padding: 0 7%;
color: #fff;
margin-bottom: 80px;
}


/* Adds heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.1;
}
#topRight {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#topRight h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Impact', 'Poppins', sans-serif;
    color: #ff9c00;
}

#topRight h2 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Impact', 'Poppins', sans-serif;
    color: #ff9c00;
}


/* Default paragraph font size */
p {
    font-size: 12px;
}


/* Applies link style */
a {
    color: #ff9c00;
    text-decoration: none;
}

a:hover {
    color: #8600ff;
    text-decoration: underline;
}


/* Applies footer style */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    clear: both;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
}


/* CSS for the different search sections */
.searchedImg{
    height: 150px;
    width: auto;
}

.searchResult{
    font-weight: bold;
    font-family: 'Impact', 'Poppins', sans-serif;
    color: #ff9c00;
}

#searchResultsDiv{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center space-evenly;
}

#trendingSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#trendingSearch h2 {
    font-size: 40px;
    font-weight: bold;
}

#cryptoSearchForm {
    display: flex;
    align-items: center;
}

#searchValue,
#submitButton {
    display: inline-block;
    border-radius: 20px;
    margin-top: 30px;
    padding: 8px 15px;
    border: 1px solid #2400ff;
}

#searchValue {
    flex: 1;
}

#submitButton {
    border-radius: 30px;
    background: #ff9c00;
    color: #fff;
    text-decoration: none;
}

#featuredCryptoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#featuredCryptoList {
    list-style: none; 
    text-align: center;
}

#featuredCryptoItem {
    display: inline-block;
    margin: 10px; 
}


/* CSS for watchlist button */
#watchListHeader {
    font-weight: bold;
    font-family: 'Lexend', 'Roboto', 'Poppins', sans-serif;
    font-size: 30px;
    justify-content: center;
    color: #ff9c00;
    margin-left: 10px;
    padding: 25px 0px;
}

#watchListIconDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#watchListIconDiv img {
width: 40px;
height: auto;
}

.watchListButtonContent {
    font-weight: bold;
    font-family: 'Lexend', 'Roboto', 'Poppins', sans-serif;
    font-size: 30px;
    justify-content: center;
    color: #ff9c00;
    background-color: transparent;
    display: inline;
    margin: 5px;
}

#watchListIconButtonText {
    display: flex;
    align-items: center;
    justify-content: center;
}

#watchListButtonText img {
width: 40px;
height: auto;
}

.menuIcon{
    max-width: 35%;
    height:auto;
}


/* CSS for tab section */
.tabs a {
    color: #fff; 
  }

.has-black-background {
    background-color: black;
  }

#market-update table {
    width: 100% !important;
    border-collapse: collapse !important;
    margin-top: 20px !important;
}

#market-update th,
#market-update td {
    padding: 10px !important;
    border: 1px solid #ccc !important;
    text-align: center !important;
}

#market-update th {
    background-color: #ff9c00 !important;
    font-weight: bold !important;
}

#contactUs {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right; 
    margin: 0 20px 20px 0; 
}

#contactUs h3 {
    font-size: 20px;
    justify-content: center;
    color: #ff9c00;
}


.emailIcon {
    max-width: 2%;
    height:auto;
}


/* CSS for the search results */
.search-result {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.search-result-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.search-result-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.search-result-name {
    font-weight: bold;
    font-size:12px;
    text-align: left;
    margin-bottom: 5px;

}

.search-result-price {
    font-size: 10px;
    text-align: left;
    color: #fff;
    margin-bottom: 5px;
}

.pin-button {
    background-color: #8600ff;
    color: #fff;
    border: none;
    border-radius: 20%;
    padding: 5px 10px;
    cursor: pointer;
}



/*JUSHEN'S CSS CHANGES*/
.watchList {
    height: 100vh;;
    width: 300px;
    position: absolute;
    top: 10px;
    right: -300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: transform 2s ease-in-out;
    background-image: url(./assets/watchListBackground.webp);
    background-size: 100% 100%;
}

.watchList.appear {
    transform: translateX(-300px);
}

.redColor {
    color: red;
}

@keyframes color-change {
    0% {
      background-color:#FFD700;
    }
    50% {
      background-color: #800080;
    }
    100% {
      background-color: orangered;
    }
  }

/* #exitButton {
    height: 20px;
    width: 10%;
    position: relative;
    left: 90%;
} */

#switchListButtons {
    width: 100%;
    height: 39px;
}

#hotListButton{
    height: 100%;
    width: 49%;
    font-size: 15px;
    /* needs to make the MyList Invisible and hotList visible*/
}

#myListButton {
    height: 100%;
    width: 49%;
    font-size: 15px;
    /* needs to make the hotList Invisible and MyList visible*/
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

/* .hotList {
    background-color: #8600ff;
}

.myList {
    background-color: #2400ff;
} */

#featuredCryptoList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    margin-top: 5px;
}

.featuredCryptoItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 150px;
    margin: 25px;
}

.featuredCryptoItemImage {
    margin: 5px;
    display: block;
}

.featuredCryptoItemHeader {
    font-size: 15px;
}

.featuredCryptoItemPercentChange {
    font-size: 15px;
}

.featuredCryptoItemPrice{
    font-size: 15px;
    width: 100%;
}

.linebreak {
    height: 2px;
    width: 100%;
}

.topTenList {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.topTen {
    display: flex;
    margin: 19px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 10px;
}

.topTenNumberOneToNine {
    margin-top: 7px;
    margin-right: 20px;
    font-size: 33px;
}

#topTenNumberTen {
    position: absolute;
    margin-top: 7px;
    left: 11px;
    font-size: 33px;
}

.numberBorderOneToNine{
    border: 2px solid white;
    border-radius: 95%;
    position: relative;
    top: 13px;
    right: 48px;
    width: 37px;
    height: 37px;
}

#numberBorderTen {
    border: 2px solid white;
    border-radius: 95%;
    position: relative;
    top: 9px;
    left: -11px;
    width: 44px;
    height: 44px;
}

.topTenImage {
    position: absolute;
    left: 47px;
    margin-top: 11px;
    margin-left: 9px;
    height: 40px;
    width: 40px;
    font-size: 10px;
    border: 3px solid black;
    background-color: #FFD700;
    animation: color-change 2s infinite;
}


.topTenPercentage {
    position: absolute;
    margin-top: 11px;
    right: 5px;
    font-size: 30px;
}

.topTenNameUnderEightCharacters {
    position: absolute;
    margin-left: 85px;
    margin-top: 14px;
    font-size: 25px;
}

.topTenNameBetweenEightAndTwelveCharacters {
    position: absolute;
    margin-left: 85px;
    margin-top: 15px;
    font-size: 22px;
}

.topTenNameOverTwelveCharacters {
    position: absolute;
    margin-left: 85px;
    margin-top: 19px;
    font-size: 17px;
}

.arrowClassOneToNine {
    position: absolute;
    left: 255px;
    margin-top: 24px;
    height: 20px;
    width: 20px;
}

#arrowClassTen {
    position: absolute;
    left: 255px;
    margin-top: 24px;
    height: 20px;
    width: 20px;
}