* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    padding: 20px 20px;
    margin-right: 20px;
    float: right;
    display: inline-block;
}

body,
h1,
p {
    margin: 0px 0px;
    padding: 0;
}

body {
width: 100%;
height: 100vh;
background-image: url("assets/fabio-oyXis2kALVg-unsplash.jpg");
background-position: center;
background-size: cover;
padding: 0 7%;
color: #fff;
}

#topRight {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.menuIcon{
    max-width: 35%;
    height:auto;
}

#topRight h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Impact', 'Poppins', sans-serif;
    color: #ff9c00;
}

#watchListHeader {
    font-weight: bold;
    font-family: 'Lexend', 'Roboto', 'Poppins', sans-serif;
    font-size: 30px;
    justify-content: center;
    color: #ff9c00;
    margin-left: 10px;
    padding: 25px 0px;
}

#watchListIconDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#watchListIconDiv img {
width: 40px;
height: auto;
}

#trendingSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#trendingSearch h2 {
    font-size: 40px;
    font-weight: bold;
}

#cryptoSearchForm {
    display: flex;
    align-items: center;
}

#searchValue,
#submitButton {
    display: inline-block;
    border-radius: 20px;
    margin-top: 30px;
    padding: 8px 15px;
    border: 1px solid #2400ff;
}

#searchValue {
    flex: 1;
}

#submitButton {
    border-radius: 30px;
    background: #ff9c00;
    color: #fff;
    text-decoration: none;

}

#featuredCryptoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#featuredCryptoList {
    list-style: none; 
    text-align: center;
}

#featuredCryptoItem {
    display: inline-block;
    margin: 10px; 
}

#contactUs {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right; 
    margin: 0 20px 20px 0; 
}

#contactUs h3 {
    font-size: 20px;
    justify-content: center;
    color: #ff9c00;
}


/* Adds heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.1;
}

p {
    font-size: 12px;
}

#watchListButtonText {
    font-weight: bold;
    font-family: 'Lexend', 'Roboto', 'Poppins', sans-serif;
    font-size: 30px;
    justify-content: center;
    color: #ff9c00;
    position: absolute;
    right: 70px;
    background-color: transparent;
    width: 150px;
}

#topRight h2 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Impact', 'Poppins', sans-serif;
    color: #ff9c00;
}

#watchListIconDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#watchListIconDiv img {
width: 40px;
height: auto;
}















/*JUSHEN'S CHANGES, copy into main branch*/

.watchList {
    height: 100vh;
    width: 100%;
    position: absolute;
    right: -1200px;
    top: 10px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: transform 2s ease-in-out;
}

.watchList.appear {
    transform: translateX(-1200px);
    background-color: red;
}

.watchList.disappear {
    transform: translateX(2400px);
    background-color: red;
}

.redColor {
    color: red;
}

#exitButton {
    height: 20px;
    width: 10%;
    position: relative;
    left: 90%;
}


#switchListButtons {
    width: 100%;
    height: 39px;
    background-color: blue;
}

#hotListButton{
    height: 100%;
    width: 49%;
    font-size: 15px;
    /* needs to make the MyList Invisible and hotList visible*/

}

#myListButton {
    height: 100%;
    width: 49%;
    font-size: 15px;
    /* needs to make the hotList Invisible and MyList visible*/
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

.hotList {
    background-color: green;
}

.myList {
    background-color: blue;
}

#featuredCryptoList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    margin-top: 5px;
}

.featuredCryptoItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 150px;
    margin: 25px;
}

.featuredCryptoItemImage {
    margin: 5px;
    display: block;
}

.featuredCryptoItemHeader {
    font-size: 15px;
}

.featuredCryptoItemPercentChange {
    font-size: 15px;
}

.featuredCryptoItemPrice{
    font-size: 15px;
    width: 100%;
}

.linebreak {
    height: 2px;
    width: 100%;
}

/* Copy up to here*/















* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    padding: 20px 20px;
    margin-right: 20px;
    float: right;
    display: inline-block;
}

body,
h1,
p {
    margin: 0px 0px;
    padding: 0;
}

body {
width: 100%;
height: 100vh;
background-image: url("assets/fabio-oyXis2kALVg-unsplash.jpg");
background-position: center;
background-size: cover;
padding: 0 7%;
color: #fff;
}

#topRight {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#topRight h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Impact', 'Poppins', sans-serif;
    color: #ff9c00;
}

#watchListHeader {
    font-weight: bold;
    font-family: 'Lexend', 'Roboto', 'Poppins', sans-serif;
    font-size: 30px;
    justify-content: center;
    color: #ff9c00;
    margin-left: 10px;
    padding: 25px 0px;
}

#watchListIconDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#watchListIconDiv img {
width: 40px;
height: auto;
}

#trendingSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#trendingSearch h2 {
    font-size: 40px;
    font-weight: bold;
}

#cryptoSearchForm {
    display: flex;
    align-items: center;
}

#searchValue,
#submitButton {
    display: inline-block;
    border-radius: 20px;
    margin-top: 30px;
    padding: 8px 15px;
    border: 1px solid #2400ff;
}

#searchValue {
    flex: 1;
}

#submitButton {
    border-radius: 30px;
    background: #ff9c00;
    color: #fff;
    text-decoration: none;

}

#featuredCryptoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#featuredCryptoList {
    list-style: none; 
    text-align: center;
}

#featuredCryptoItem {
    display: inline-block;
    margin: 10px; 
}

#contactUs {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right; 
    margin: 0 20px 20px 0; 
}

#contactUs h3 {
    font-size: 20px;
    justify-content: center;
    color: #ff9c00;
}


/* Adds heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.1;
}

p {
    font-size: 12px;
}

a {
    color: #2400ff;
    text-decoration: none;
}

a:hover {
    color: #8600ff;
    text-decoration: underline;
}

/* Applies footer style */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    clear: both;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
}
